
/*  for dates - try a fancy font with color */
figure {
  display: inline-block;
  text-align: center;
  border: 1px dotted gray;
  margin: 5px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}
figure figcaption {
  border: 1px dotted blue;
}

img {
  border: solid 2px black;
  max-width: 100%;
  height: auto;
}

.date {
    font-family: Monospace;
    font-size: 0.8 rem;
    color: #32f;
    max-width: 200px;
    display:inline-block;
    vertical-align: center;
}
/*  for dates - try a fancy font with color */
.PBname {
    font-family: Monospace;
    font-size: 1.1 rem;
    color: #555;
    max-width: 200px;
    min-width: 150px;
    display:inline-block;
    vertical-align: center;
}

/* horisontal line */
  .h-line{
   margin-top:5px;
   margin-bottom:5px;
   height:1px;
   width:100%;
   border-top:1px solid gray;
  }


  /*-- uniformity in the list of posts - title, date and then a synposis --*/
.post {
  }

.post title{
    font-family: Monospace;
    font-size: 1 rem;
}

.post date{
    font-family: Monospace;
    font-size: 0.8 rem;
    color: #32f;
    max-width: 200px;
    display:inline-block;
    vertical-align: center;
}


/* from that guy - Zach C? */

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: brown;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

/*-- i changed it from the original --*/
pre {
    margin-top: 0px;
    margin-bottom: 0px;
  overflow: auto;
  background: #aaa;
  padding: 0;
}

code,
.tag,
.el,
.name,
.content,
.comment {
  font-family: monospace;
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: #636366;
}

.el {
  color: #FE7880;
}

.name {
  color: #F9B42D;
}

.content {
  color: #75C050;
}

.comment {
  color: #B6CAD2;
}

footer {
  background-image: linear-gradient(#ffffff, #f0f0f0);
  padding-bottom: 5px;
}

footer p {
    color: #333;
    font-size:14px;
}




/********   navigation - from W3 schools */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #333;
  width: 42%;
  text-align: center;
  padding-top: 0px;
  padding-right: 4%;
  padding-bottom: 0px;
  padding-left: 4%;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* green: #04AA6D */
.topnav a.active {
  background-color: #ffa500;
  color: #ffffff;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/*---- */
.nav {
  overflow: hidden;
}

.nav a {
  float: center;
  color: #555;
  width: 100%;
}

.nav a:hover {
  background-color: #ddd;
  color: blue;
}

/* green: #04AA6D */
.nav a.active {
  background-color: #ffa500;
  color: #ffffff;
}
