/**
*** ZACH COLE
*** (C) 2016
**/

/* SIMPLE GRID LANDING PAGE CUSTOM STYLES */

* {
  color: #636366;
}

body {
  background: #F38BD3;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: line-through;
}

.m-bottom {
  margin-bottom: 48px;
}

.container {
  padding-top: 100px;
}

.body-content {
  background: #fff;
  padding: 100px 0 120px 0;
  position: relative;
  z-index: 0 !important;
}

.body-content > .container {
  position: relative;
  top: 100px;
  padding-bottom: 100px;
}

.jumbotron {
  background: #FE7880;
  background-image: linear-gradient(#F38BD3, #FE7880);
  height: 760px;
  width: 100%;
  z-index: 100 !important;
}

.jumbotron h1,
.jumbotron h2 {
  color: #fff;
}

button {
  height: 48px;
  width: 180px;
  text-align: center;
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  margin: 20px 0;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

button:hover {
  background: #fff;
  color: #FE7880;
}

button:active {
  outline: none;
}

.btn-secondary {
  border: 1px solid #FE7880;
  color: #FE7880;
}

.btn-secondary:hover {
  background: #FE7880;
  color: #fff;
}

.line {
  height: 1px;
  width: 100%;
  background: #D6D6D8;
  margin: 80px 0;
}

.grid-display {
  margin: 20px 0;
}

.grid-display [class^="col"] {
  background: #FBCED1;
  border: 1px solid #FE7880;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.grid-display [class^="col"] p {
  color: #FE7880;
  font-size: 0.8rem;
}

pre {
  margin-top: 30px;
  overflow: auto;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #D8DCE6;
  padding: 24px 0;
}

code,
.tag,
.el,
.name,
.content,
.comment {
  font-family: monospace;
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: #636366;
}

.el {
  color: #FE7880;
}

.name {
  color: #F9B42D;
}

.content {
  color: #75C050;
}

.comment {
  color: #B6CAD2;
}

footer {
  background: #F38BD3;
/*  background-image: linear-gradient(#FE7880, #F38BD3); */
  padding-bottom: 10px;
}

footer p {
  color: #fff;
}

/* IMAGES */

.img {
  background-size: contain;
  background-repeat: no-repeat;
}

.img-logo {
  background-image: url('img/logo-white.svg');
  background-size: contain;
  height: 40px;
  width: 40px;
  padding-bottom: 8px;
}

.img-website-mock {
  position: relative;
  background-image: url('img/web-mock.png');
  height: 0;
  padding-top: 71.8%;
  margin-top: 80px;
  z-index: 200 !important;
}

.img-responsive {
  background-image: url('img/responsive.png');
  height: 96px;
  width: 144px;
}

.img-lightweight {
  background-image: url('img/light.png');
  height: 96px;
  width: 96px;
}

.img-simple {
  background-image: url('img/simple.png');
  height: 96px;
  width: 132px;
}

/* === MEDIA QUERIES === */

@media only screen and (min-width: 720px) {
  .jumbotron {
    height: 600px;
  }
}
